# Extension ignores
._*
*.conf
*.cookie
*.cookie.backup
*.dat
*.db
*.db-shm
*.db-wal
*.jpg
*.json
*.log
*.pickle
*.png
*.pyc

# Directory (contents) ignores
/.cloud
/.insteon_local_cache
/.storage/**
/_nodered_flows
/icloud
/packages_old
/ssl
/tmp
/tts
/www/downloads
/www/sounds
/lovelace/z_resources
/www/z_custom-lovelace

# App specific directory ignores
/appdaemon
/esphome
/node-red/**
/notebooks/bokeh-examples

# Specific file ignores
/.homekit.state
/.ios.conf
/.pip_progress
/.spotify-token-cache
/.tradfri_psk.conf
/.uuid
/aircast.xml
/appdaemon/appdaemon.yaml
/core
/ip_bans.yaml
/notebooks
/options.xml
/OZW_Log.txt
/pyozw.sqlite
/secrets.yaml
/themes/slate.yaml
/zwcfg_*
/zwscene.xml

# Some other generic stuff


# Specific keeps
!/_nodered_flows/**
!/json_data/**
!/node-red/flows.json
!/node-red/package.json
!/.storage/core.area_registry
!/.storage/core.entity_registry
