# Extension ignores
._*
*.conf
*.cookie
*.cookie.backup
*.dat
*.db
*.db-shm
*.db-wal
*.jpg
*.log
*.pickle
*.pyc

# *.png

# Directory (contents) ignores
.cloud
.insteon_local_cache
.ssh
.storage
.Trash-0
_nodered_flows
custom_components
deps
development
icloud/*
lovelace*
ssl
themes/*
tmp
tts
www/community
www/downloads
www/sounds

# App specific directory ignores
appdaemon
esphome
node-red/**
notebooks/bokeh-examples

# Specific file ignores
.DS_Store
.homekit.state
.ios.conf
.pip_progress
.shopping_list.json
.spotify-token-cache
.tradfri_psk.conf
.travis.yml
.uuid
aircast.xml
appdaemon/appdaemon.yaml
core
google*.json
#icloud3*
ip_bans.yaml
lutron_caseta_*.json
notebooks
options.xml
OZW_Log.txt
pyozw.sqlite
secrets.yaml
ui-*.yaml.disabled
zigbee.db-journal
zwcfg_*
zwscene.xml

# Some other generic stuff


# Specific keeps
# !_nodered_flows/**
# !json_data/**
# !node-red/flows.json
# !node-red/package.json
!themes/compact-header.yaml
