# Extension ignores
._*
*.conf
*.cookie
*.cookie.backup
*.dat
*.db
*.db-shm
*.db-wal
*.jpg
*.json
*.log
*.pickle
*.png
*.pyc

# Directory (contents) ignores
/.cloud
/.insteon_local_cache
/.storage/**
/_nodered_flows
/deps
/icloud
/packages_old
/ssl
/tmp
/tts
/www/downloads
/www/sounds

# App specific directory ignores
/appdaemon
/esphome
/node-red/**
/notebooks/bokeh-examples

# Specific file ignores
/.homekit.state
/.ios.conf
/.spotify-token-cache
/.tradfri_psk.conf
/.uuid
/aircast.xml
/core
/ip_bans.yaml
/known_devices.yaml
/notebooks
/options.xml
/OZW_Log.txt
/pyozw.sqlite
/secrets.yaml
/zwcfg_*
/zwscene.xml

# Some other generic stuff


# Specific keeps
!/_nodered_flows
!/json_data
!/node-red/flows.json
!/node-red/package.json
!/.storage/core.area_registry
!/.storage/core.config_entries
!/.storage/core.entity_registry
!/.storage/custom_updater.cards
