.clear {
    clear: both;
  }
  .ecobee_card {
    background-color: #000000;
    color: #ffffff;
    height: ;
    width: 100%;
    display: flex;
  }
  .ecobee1 {
    left: 0px;
    font-family: "Gotham", arial;
    text-align: center;
    margin: .5em;
  }
  .ecobee_div {
    font-size: 1.3em;
  }
  
  .ecobee_temperature {
    margin: .5em;
    padding: .5em .5em .5em .5em;
    font-size: 4.2em;
    font-weight: 300;
  }
  .ecobee_humidity {
    align-self: center;
    line-height: 1em;
    font-size: 1.5em;
  }
  .ecobee_mode {
    color: #fff;
    padding:1em 1em 1em 1em;
  }
  .setpoint_auto {
    font-size: 12px;
    height: 40px;
    width: 40px;
  }
  .setpoint_heatcool {
    font-size: 15px;
    height: 50px;
    width: 50px;
  }
  .setpoint {
    background-color: #000000;
    border: 2px solid white;
    border-radius: 50%;
    display: block;
    position: relative;
    text-align: center;
    font-weight: 800;
  }
  
  .operation_cool_color {
    color: #56C0EA;
  }
  .operation_heat_color {
    color: orange;
  }
  .operation_neutral_color {
    color: #ffffff;
  }
  .dot_cool_color {
    background-color: #56C0EA;
  }
  .dot_heat_color {
    background-color: orange;
  }
  .dot_neutral_color {
    background-color: #ffffff;
  }
  .dot {
    --dot-height: 10px;
    --dot-width: 10px;
    border-radius: 50%;
    margin: calc((26em/10)/2);
    display: block;
  }
  .dot1 {
    height: 3px;
    width: 3px;
  }
  .dot2 {
    height: 4px;
    width: 4px;
  }
  .dot3 {
    height: 5px;
    width: 5px;
  }
  .dot4 {
    height: 6px;
    width: 6px;
  }
  .dot5 {
    height: 7px;
    width: 7px;
  }
  .dot6 {
    height: 8px;
    width: 8px;
  }
  
  
  .grid-container {
    display: grid;
    width: 95%;
    grid-template-columns: auto auto auto;
    margin: 10px;
  }
  .grid-item {
    width: 1%;
    background-color: #000000;
    padding: 2px;
    font-size: 30px;
    text-align: center;
  }
  .grid_circles {
    grid-row: 1 / span 5;
    grid-column: 3;
    width: 18%;
    align-self: center;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  