
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  padding: 0;
}

body {
  margin: 0;
  background-color: #222;
  font-size: 15px;
  color: #fff;
  padding: 0;
  line-height: 1;
  font-family: 'Helvetica Neue', 'Helvetica', 'Open Sans', 'Arial'
}

b, strong {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

img, object {
  max-width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;}

iframe {
  max-width: 100%;
}
  
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

td {
  vertical-align: middle;
}

ul, ol {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, p {
  padding: 0;
  margin: 0;
}
h1 {
  margin-bottom: 6px;
  text-align: center;
  font-size: 100%;
  font-weight: 200;
}
h2 {
  font-size: 300%;
  font-weight: 400;
  color: #fff;
}
h3 {
  font-size: 125%;
  font-weight: 300;
  color: #fff;
}

input {
  background-color: #444;
  border: none;
}

.dashboard_main {
	margin: 0px auto;
}

.gridster {
  margin: 0px auto;
}

.icon-background {
  pointer-events: none;
  width: 100%!important;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.1;
  font-size: 1375%;
  text-align: center;
  margin-top: 82px;
}

.list-nostyle {
  list-style: none;
}

.gridster ul {
  list-style: none;
}

.gs-w {
  width: 100%;
  display: table;
  cursor: pointer;
  z-index: auto !important;
}

.iframe {
  position: relative;
  overflow: hidden;  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;}

.widget {
  padding: 0px 0px;
  text-align: center;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  background-color: #444444;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;}

.title {
  color: #fff;
}

.icon-inactive {
  color: #888;
}

.icon-active {
  color: #aaff00;
}


#container {
  padding-top: 0px;
}

.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 9999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialogOpen {
	opacity:0.95;
	pointer-events: auto;
}

.modalDialogClose {
	opacity:0;
	pointer-events: none;
}

.modalDialog > div {
	width: 275px;
	position: relative;
	margin: 3% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
}

.modalDialogCloseButton {
	line-height: 50px;
	position: absolute;
	right: -25px;
	text-align: center;
	top: -20px;
	width: 50px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}

.modalDialogCloseButton:hover { background: #444; }

.widget-basedisplay-default-label .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-label .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-label .valueunit {
	width: 100%;
	vertical-align: middle;
}

.widget-basedisplay-default-label .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-label .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-label .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-basedisplay-default-sensor-front-yard-next-cycle .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-sensor-front-yard-next-cycle .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-sensor-front-yard-next-cycle .valueunit {
	width: 100%;
	vertical-align: middle;
}

.widget-basedisplay-default-sensor-front-yard-next-cycle .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-sensor-front-yard-next-cycle .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-sensor-front-yard-next-cycle .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-binary-sensor-front-yard-watering {
	position: relative;
}

.widget-baseswitch-default-binary-sensor-front-yard-watering .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-binary-sensor-front-yard-watering .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-binary-sensor-front-yard-watering .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-binary-sensor-front-yard-watering .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-binary-sensor-front-yard-watering .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-baseswitch-default-switch-front-yard-manual-watering {
	position: relative;
}

.widget-baseswitch-default-switch-front-yard-manual-watering .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-switch-front-yard-manual-watering .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-switch-front-yard-manual-watering .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-switch-front-yard-manual-watering .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-switch-front-yard-manual-watering .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-basedisplay-default-sensor-pool-filler-next-cycle .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-sensor-pool-filler-next-cycle .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-sensor-pool-filler-next-cycle .valueunit {
	width: 100%;
	vertical-align: middle;
}

.widget-basedisplay-default-sensor-pool-filler-next-cycle .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-sensor-pool-filler-next-cycle .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-sensor-pool-filler-next-cycle .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-binary-sensor-pool-filler-watering {
	position: relative;
}

.widget-baseswitch-default-binary-sensor-pool-filler-watering .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-binary-sensor-pool-filler-watering .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-binary-sensor-pool-filler-watering .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-binary-sensor-pool-filler-watering .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-binary-sensor-pool-filler-watering .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-baseswitch-default-switch-pool-filler-manual-watering {
	position: relative;
}

.widget-baseswitch-default-switch-pool-filler-manual-watering .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-switch-pool-filler-manual-watering .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-switch-pool-filler-manual-watering .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-switch-pool-filler-manual-watering .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-switch-pool-filler-manual-watering .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-baseweather-default-weather {
    color: white;
}

.widget-baseweather-default-weather h1 {
    margin-bottom: 0px;
}

.widget-baseweather-default-weather [class^="primary"] {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.widget-baseweather-default-weather .primary-climacon {
    font-family: "Climacons-Font";
    font-size: 70px;
}

.widget-baseweather-default-weather .primary-info {
    font-size: 300%;
    font-weight: 400;
}

.widget-baseweather-default-weather .primary-unit {
    font-size: 100%;
    font-weight: 400;
    margin-left: 0;
    margin-top: 20px;
    vertical-align: top;
}

.widget-baseweather-default-weather [class^="secondary-"] {
    padding: 0;
    margin: 0px;
}

.widget-baseweather-default-weather .secondary-detail {
    display: inline-block;
    font-size: 125%;
    font-weight: 200;
    vertical-align: middle;
    padding: 2px 4px;
}

.widget-baseweather-default-weather .secondary-climacon {
    font-family: "Climacons-Font";
    font-size: 40px;
    margin-left: 10px;
    margin-right: 0px;
}

.widget-baseweather-default-weather .rain:before{
    content: "\e009";
}

.widget-baseweather-default-weather .snow:before{
    content: "\e036";
}

.widget-baseweather-default-weather .sleet:before{
    content: "\e003";
}

.widget-baseweather-default-weather .wind:before{
    content: "\e021";
}

.widget-baseweather-default-weather .fog:before{
    content: "\e01b";
}

.widget-baseweather-default-weather .cloudy:before{
    content: "\e000";
}

.widget-baseweather-default-weather .clear-day:before{
    content: "\e028";
}

.widget-baseweather-default-weather .clear-night:before{
    content: "\e02d";
}

.widget-baseweather-default-weather .partly-cloudy-day:before{
    content: "\e001";
}

.widget-baseweather-default-weather .partly-cloudy-night:before{
    content: "\e002";
}

.widget-baseweather-default-weather hr {
    width: 90%;
    border: 0;
    height: 1px;
    background: rgba(255, 255, 255, 0.25);
    margin-top: 15px;
    margin-bottom: 15px;
}
.widget-basejavascript-default-nav-home .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-basejavascript-default-nav-home .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basejavascript-default-nav-home .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basejavascript-default-nav-home .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.widget-basejavascript-default-nav-devices .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-basejavascript-default-nav-devices .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basejavascript-default-nav-devices .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basejavascript-default-nav-devices .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.widget-basejavascript-default-nav-lights .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-basejavascript-default-nav-lights .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basejavascript-default-nav-lights .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basejavascript-default-nav-lights .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.widget-basejavascript-default-nav-outside .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-basejavascript-default-nav-outside .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basejavascript-default-nav-outside .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basejavascript-default-nav-outside .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.widget-basejavascript-default-nav-modes .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-basejavascript-default-nav-modes .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basejavascript-default-nav-modes .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basejavascript-default-nav-modes .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
